.container {
outline: 1px solid red;
  padding: 0 15px;
  margin: 0 auto;
@media screen and (min-width: 480px) {
outline: 1px solid yellow;
width: 480px;
}
@media screen and (min-width: 768px) {
width: 768px;
outline: 1px solid green;  
}
@media screen and (min-width: 1200px) {
  outline: 1px solid blue;
  width: 1200px;
}
}
