.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-decor {
  border-bottom: 1px solid #ececec;
}
.header-flex {
  display: flex;
  align-items: center;
}
.webstudio {
  margin-right: 93px;
}
.header_logo {
  color: #000;
}
.header_nav_list {
  display: flex;
  align-items: center;
  gap: 50px;
  @media screen and (max-width: 767px) {
display: none;
}

}
.header_nav {
  display: flex;
  margin-right: auto;
}

.header_item {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header_link {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
.header_link.current::after {
  display: block;
  content: "";
  position: absolute;
  top: 65px;
  width: 48px;
  height: 4px;
  background-color: $axent-color;
  border-radius: 2px;
  transform: scale(1);
}
.header_link::after {
  display: block;
  content: "";
  position: absolute;
  top: 65px;
  width: 100%;
  height: 4px;
  background-color: $axent-color;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0);
}
.header_link:hover::after {
  transform: scale(1);
}
.header_link:hover {
  color: $axent-color;
}
.header_link.current_portfolio::after {
  display: block;
  content: "";
  position: absolute;
  top: 65px;
  width: 78px;
  height: 4px;
  background-color: $axent-color;
  border-radius: 2px;
  transform: scale(1);
}
.current_item_studio {
  color: #212121;
}
.current_item_portfolio {
  color: $axent-color;
}
.current_item_contacts {
  color: #212121;
}
.studio {
  color: $axent-color;
}
.portfolio {
  color: #212121;
}
.contacts {
  color: #212121;
}
.header_item:hover {
  color: $axent-color;
}
.contacts_list {
  display: flex;
  @media screen and (max-width: 767px) {
display: none;
}
 @media screen and (min-width: 768px) {
display: flex;
flex-direction: column;
gap: 10px;
}
}
.link_contacts,
.link_telephone {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 50px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link_contacts:hover {
  color: $axent-color;
}
.link_telephone:hover {
  color: $axent-color;
}
.contacts_icon {
  border-radius: 1px;
  fill: #757575;
}
.contacts_icon:hover .contacts_item {
  fill: #2196f3;
}
.contacts_item:hover .contacts_icon {
  fill: #2196f3;
}
































  