@media screen and (min-width: 768px) {
  .menu-toggle{
    display: none;
  }
  .menu-container{
    display: none;
  }
}

.menu-close-button{
display: flex;
position: absolute;
top: 10px;
right: 10px; 
color: white;
}
.menu-close-icon{
stroke: white;


}
@media screen and (max-width: 767px) {
 .menu-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
  padding: 25px;
  background-color: #fff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
}
.mobile-menu-one{
display: flex;
flex-direction: column;
margin-bottom: 170px;
}
.mobile-menu-two{
display: flex;
flex-direction: column;
}
.link{
font-family: var(--font-family);
font-weight: 500;
font-size: 40px;
letter-spacing: 0.02em;
color: #212121;
}
.link_studio{
font-family: var(--font-family);
font-weight: 500;
font-size: 40px;
letter-spacing: 0.02em;
text-align: center;
color: #2196f3;
}
.link_email{
font-family: var(--font-family);
font-weight: 500;
font-size: 24px;
letter-spacing: 0.02em;
color: #757575;
}
.link_tel{
font-family: var(--font-family);
font-weight: 500;
font-size: 34px;
letter-spacing: 0.02em;
color: #2196f3;
}
.mobile-menu-three{
display: flex;
gap: 20px;
}
.social_link{
font-family: var(--font-family);
font-weight: 500;
font-size: 18px;
line-height: 122%;
letter-spacing: 0.02em;
color: #2196f3;
}