.div_hero {
  margin-bottom: 34px;
  text-align: center;
  gap: 8px;
}
.hero_list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
@media screen and (max-width: 768px) {
 display: block;
}
}
.hero_item {
  width: 370px;
}



.button_hero.current-btn {
  background-color: #007bff;
  color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-weight: 600;
}
.hero_item {
  flex-basis: calc((100% - 30px * 2) / 3);
}
.hero_item:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.hero {
  padding-bottom: 94px;
  padding-top: 94px;
}
.button_hero:hover {
  background-color: #007bff;
  color: #ffffff;
  outline: none;
}
.div_hero_text {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.hero_text_h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}
.hero_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}

.card_thumb {
  position: relative;
  overflow: hidden;
}
.card_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 500ms, opacity 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_thumb:hover .card_overlay {
  opacity: 1;
  transform: translate(0);
}
.card_text {
  font-family: $font-family;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
}